<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" (click)="goBack()">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <div class="title" style="padding-bottom: 0px; margin-top: 0px; margin-left: 8%;">
      <span style="font-family: 'Manrope-ExtraBold' ;color: var(--ion-color-secondary);">
        LEÇON {{lesson.id}}/6
      </span>
    </div>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <ion-card style="overflow:hidden ;">
    <img style="width: 80%; margin-left: 10%;" src="../../assets/iqra-sounds/course1/images/x-pronounciation.png" alt="">
  </ion-card>

</ion-content>
<ion-footer style="min-height: 250px;">
  <div class="category-slider">
    <ion-grid>
      <ion-row  dir="rtl">
        <ion-col size-xs="4" size-md="4" *ngFor="let item of lesson.items" (click)="playSound(item)">
          <ion-card class="letter-item" style="
            /* font-family: 'Arabic1'; */
            width: 100%; margin-left: 0%;
            display: flex; align-items: center;
            justify-content: center; font-size: 60px;">{{item.value}}</ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>
 