
<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="home" style="background-color:white;">
        <ion-icon name="library-outline"></ion-icon>
        <ion-label>Cours</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="shop"   style="background-color:white;">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Tests</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="basket"   style="background-color:white;">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>

