<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/tabs/basket" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Commander</h1>

  <div class="cart-items">
  
    <ion-card  *ngFor="let product of basket; let i = index" mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="{{firstImage(product.attributes.images.data)}}" />
        </div>

        <div class="item-info">
          <p> {{product.attributes.name}} </p>
          <!-- <p> {{product.attributes.description}} </p> -->
          <p>€  {{product.attributes.price}}  </p>

          <div class="qty-selector">
            quantité : {{product.quantity}}
            <!-- <ion-button fill="clear" (click)="updateProduct(product, -1)"><ion-icon slot="icon-only" name="remove-outline"></ion-icon></ion-button>
            <ion-label> {{product.quantity}} </ion-label>
            <ion-button fill="clear" (click)="updateProduct(product, +1)"><ion-icon slot="icon-only" name="add-outline"></ion-icon></ion-button> -->
          </div>
          <div class="qty-selector">
            <span style="font-weight: bolder; font-size: 18px;">€  {{ product.attributes.price * product.quantity }}</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>

  <div class="address">
    <ion-item lines="none">
      A domicile
      <ion-badge slot="end">&nbsp;</ion-badge>
    </ion-item>
  </div>

  <hr>

  <div class="cart-total">
    <ion-item lines="none">
      <ion-label>Sous-total</ion-label>
      <ion-label slot="end" class="ion-text-right">€ {{total()}}</ion-label>
    </ion-item>
    <!-- <ion-item lines="none">
      <ion-label>Remise</ion-label>
      <ion-label slot="end" class="ion-text-right">5%</ion-label>
    </ion-item> -->
    <ion-item>
      <ion-label>Livraison</ion-label>
      <ion-label slot="end" class="ion-text-right">€ {{deliveryCharges}} </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Total</ion-label>
      <ion-label slot="end" class="ion-text-right"  style="font-weight: bolder; font-size: 22px;">€ {{ globalCost() }} </ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" (click)="order()" >Commander</ion-button>
  </ion-toolbar>
</ion-footer>