<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/tabs" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">A Propos</h1>


  <ion-grid>
    <ion-row style="color: rgb(79, 41, 41) ;">
    <ion-col sizeLg="6" sizeXs="12" >
      <h4 style="font-weight: 700px;">
        — Ma petite robe en wax
          est un produit de la start-up Mia Dreams
          and Co, basée au Sénégal qui innove dans
          la confection, la finition, la communication
          et la commercialisation de produit
          artisanaux africains
      </h4>
      <h5 style="font-style: italic;">
        Notre objectif est de vous faire vivre l'expérience
        client, la plus innovantes, la plus accessible et la plus
        personnalisé de la mode africaine. 
      </h5>
    
      <ion-button expand="block" class="main-button" >Contactez-nous</ion-button>

    </ion-col>
    <ion-col sizeLg="6" sizeXs="12" >
      <img src="../../assets/about-us-image.png" alt="">
    </ion-col>
  </ion-row>
</ion-grid>
 
</ion-content>
