<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" (click)="goBack()">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>
    <div class="title" style="padding-bottom: 0px; margin-top: 0px; margin-left: 8%;">
      <span style="font-family: 'Manrope-ExtraBold' ;color: var(--ion-color-secondary);">LEÇONS</span>
    </div>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 

 
  <div class="category-slider" >
    <ion-grid  style="margin-top:0px ;padding-top: 0px;">
      <ion-row>
        <ion-col size-xs="6" size-md="6" *ngFor="let l of course.lessons" (click)="gotoLessonDetails(l)" style="padding: 0px;">
          <ion-card style="width:100%; padding: 0px; display:flex; flex-direction: column; align-items: center; background-color: white; border-radius: 15px;">
            <img src={{l.icon}} style="width: 100%; margin-top: 5px;" />
            <span style="font-family: 'Manrope-Bold'; font-size: 15px; font-weight :bolder; margin-top: -5px; margin-bottom: 10px; color: var(--ion-color-secondary)">
              Leçon {{l.id}}
            </span>
          </ion-card>  
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
 