<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/tabs/creation" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Rechercher une création..."></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

   
  <div class="title ion-padding">
    <h2 class="font-bold">Récemment crées</h2>
    <!-- <p>Tout voir</p> -->
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of recentsProducts">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p style="font-size:14px ;">08-06-2022</p>
          <h6 style="font-weight: bold;">{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Explorer</h2>
    <!-- <p>Tout voir</p> -->
  </div>

  <div class="product-slider ion-padding-start">
    <ion-row>
      <ion-col *ngFor="let product of products" class="ion-text-left" size="6">
        <ion-card >
          <div style="position:absolute ; top:5px; right: 5px;">
            <ion-badge color="{{product.color}}">{{product.status}}</ion-badge>
          </div>
          <div style="width: 100%; height: 180px ; overflow: hidden;">
            <img style="" src="{{ product.image }}" />
          </div>
          <ion-card-header>
            <p style="font-size:14px ;">05-06-2022</p>
            <h6 style="font-weight: bold;">{{ product.name }}</h6>
          </ion-card-header>
          <!-- <ion-card-content>
            Description minimaliste de la robe...
          </ion-card-content> -->
        </ion-card>
      </ion-col>
    </ion-row>
 
  </div>
</ion-content>
