<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Connexion</h1>

    <div class="form-container">
      <span style="color:tomato ;">
        {{ errorMessage | translate }}
      </span>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type={{passwordType}} [(ngModel)]="password"></ion-input>
        <ion-icon [name]="passwordType == 'password' ? 'eye-off' : 'eye' " slot="end" (click)="togglePassword()" ></ion-icon>
      </ion-item>

      <ion-button expand="block" class="main-button" (click)="login()">Se connecter</ion-button>

      <div class="sign-up">
        Pas encore de compte ? <ion-button color="dark" fill="clear" routerLink="/signup" routerDirection="forward">S'inscrire</ion-button>
      </div>
    </div>
  </div>
</ion-content>
