<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Validation</h1>

    <div class="form-container">
      <span style="color:tomato ;">
        {{ errorMessage | translate }}
      </span>

      <ion-item>
        <!-- <ion-label position="floating">Votre code</ion-label>
        <ion-input [(ngModel)]="code" ></ion-input> -->
        <code-input
              [codeLength]="4"
              (codeCompleted)="onCodeCompleted($event)">
        </code-input>
      </ion-item>

      <!-- <ion-button expand="block" class="main-button" (click)="validate()" >Valider</ion-button> -->

    </div>
  </div>

</ion-content>
