ion-menu {
  --width: 100%;
}

.main-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-list {
    width: 100%;

    ion-item {
      font-size: 18px;
      font-weight: 100;
    }

    .selected {
      border-left: 5px solid var(--ion-color-primary);
      color: var(--ion-color-primary);
    }
  }

  ion-button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 24px;
    --ripple-color: transparent;
  }

  ion-label{
    font-family: 'Manrope-Bold';
  }
}