<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="!isMenuEnabled">
      <ion-content>
        <div class="main-list" style="position: relative;">
         
          <ion-list id="inbox-list">

            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none"  detail="false" class="ion-text-center" [class.selected]="selectedIndex == 1">
                <ion-label>Mon compte</ion-label>
              </ion-item>
            </ion-menu-toggle>
           
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none"  detail="false" class="ion-text-center" [class.selected]="selectedIndex == 2">
                <ion-label>Paramétres</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none"  detail="false" class="ion-text-center" [class.selected]="selectedIndex == 3">
                <ion-label>Partager avec un ami</ion-label>
              </ion-item>
            </ion-menu-toggle>

            

            
          </ion-list>

         
            <!-- Close Button -->
            <ion-button slot="end" fill="clear" color="dark" (click)="close()">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
     
        </div>
               

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
