<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1 style="font-family: 'Manrope-ExtraBold' ;">Bienvenue sur <span style="font-family: 'Manrope-ExtraBold' ; color: var(--ion-color-primary);">IQRA</span></h1>
      <h6  style="font-family: 'Manrope-Regular' ;">Lire l'arabe n'a jamais été aussi simple !</h6>
    </div>

    <img src="../../assets/iqra-icons/logo.png" style="width: 80%; margin-left: 10%;" />

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/tabs" routerDirection="forward">  Commencer</ion-button>
    </div>
  </div>
</ion-content>
