<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">

      <div class="outer-circle">
        <div class="inner-circle">
          <img src="../../assets/like.png" />
        </div>
      </div>

      <h2>Confirmation</h2>
      <p>
        Vous avez complété votre <br>
        procédure de paiement avec succés !
      </p>
    </div>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/tabs/home" routerDirection="back">Retour à l'accueil</ion-button>
  </ion-toolbar>
</ion-footer>