.backbtn {
    margin-left: 15px;
}

ion-menu-button {
    margin-left: 10px;
}

ion-content {
    // --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 26px;
    --padding-end: 26px;
    background-color: #fff6ea;
}

.title {
    margin-top: 0;
    color: #434343;
}

.cart-items {
    ion-card {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;

        ion-card-content {
            display: flex;
            position: relative;

            .item-img {
                display: flex;
                align-items: center;
                margin-right: 16px;

                img {
                    object-fit: cover;
                    width: 110px;
                    height: 110px;
                    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
                }
            }

            .item-info {
                p {
                    font-size: 16px;
                }

                p:nth-child(1) {
                    color: #434343;
                }
                p:nth-child(2) {
                    color: #919191;
                }
                p:nth-child(3) {
                    color: var(--ion-color-primary);
                }

                .qty-selector {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #f1f1f1;
                    border-radius: 5px;
                    margin-top: 10px;

                    ion-button {
                        --color: #565656;
                        font-size: 16px;
                        margin-left: 8px;
                        margin-right: 8px;
                    }

                    ion-label {
                        color: #565656 !important;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

ion-footer {
    padding-left: 20px;
    padding-right: 20px;

    .main-button::after {
        box-shadow: none !important;
    }
}