/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 // global.scss
@import '~swiper/swiper-bundle.css';
@import '~@ionic/angular/css/ionic-swiper';

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Arabic1';
    src: url('./assets/fonts/arabic1.otf');
}

@font-face {
    font-family: 'Arabic2';
    src: url('./assets/fonts/arabic2.ttf');
}

@font-face {
    font-family: 'Manrope-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Manrope-Regular.ttf');
}

@font-face {
    font-family: 'Manrope-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/Manrope-Bold.ttf');
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('./assets/fonts/Manrope-ExtraBold.ttf');
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Segoe\ UI.ttf');
}

@font-face {
    font-family: 'SegoeUI-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/Segoe\ UI\ Bold.ttf');
}

@font-face {
    font-family: 'SegoeUI-BoldItalic';
    font-style: italic;
    font-weight: bold;
    src: url('./assets/fonts/Segoe\ UI\ Bold\ Italic.ttf');
}

@font-face {
    font-family: 'SegoeUI-Italic';
    font-style: italic;
    font-weight: normal;
    src: url('./assets/fonts/Segoe\ UI\ Italic.ttf');
}

* {
    font-family: 'SegoeUI';
}

.main-button {
    --background: linear-gradient(90deg, var(--ion-color-primary) 0%, var(--ion-color-secondary) 100%);
    --box-shadow: none;
    position: relative;
    height: 50px;
    margin-bottom: 15px;
    font-family: 'Manrope-ExtraBold';
}

.main-button::after {
    content: " ";
    position: absolute;
    width: 80%;
    right: 10%;
    bottom: 0;
    top: 10px;
    height: 40px;
    z-index: -1;
    box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 1);
}

// Removing ion-button focus outline
ion-button:focus {
    outline: none !important;
}

ion-buttons:focus {
    outline: none !important;
}

// Removing iOS and Android Header line for entire app
ion-toolbar {
    --border-width: 0 !important;
}

.header-md::after {
    background: none;
}

.notification {
    span {
        background-color: #F5576C;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 10%;
        right: 10%;
    }
}

// Customizing Product Slider Bullets

.product-slider {
    .swiper-pagination {
        text-align: left;
        padding-left: 20px;

        .swiper-pagination-bullet {
            background: #ffffff;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: var(--ion-color-primary);
        }
    }
}