<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/tabs/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Favoris</h1>

  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/robe-1.jpg" />
      <p>€34.00</p>
      <h6>Women robe</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/robe-2.jpg" />
      <p>€24.00</p>
      <h6>Mens robe</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/robe-3.jpg" />
      <p>€54.00</p>
      <h6>Women robe</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/robe-4.jpg" />
      <p>€44.00</p>
      <h6>Blezer</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/robe-5.jpg" />
      <p>€14.00</p>
      <h6>Robe Wax</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/robe-2.jpg" />
      <p>€30.00</p>
      <h6>Robe soirée</h6>
    </ion-col>
  </ion-row>
</ion-content>
