<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons style="justify-content: center;">
        <img src="../../assets/iqra-icons/logo.png" style="width: 38px;" />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <swiper >
    <ng-template *ngFor="let h of heroes"  swiperSlide>
      <div class="carousel-item">
        <h5>{{h.attributes.header}}<br>
          <span style="font-size: 24px; font-weight: normal; margin-left: 5px;">{{h.attributes.subHeader}}</span>
        </h5>
        <img src="{{h.attributes.image.data.attributes.url}}" />
      </div>
    </ng-template>
   
  </swiper>
  -->
  <div class="title" style="padding-bottom: 0px; margin-left: 8%;">
    <span style="font-family: 'Manrope-ExtraBold' ;color: var(--ion-color-secondary);">COURS</span>
  </div>
 
  <div class="category-slider">
      <ion-grid class="ion-padding" style="margin-top:0px ;padding-top: 0px;">
        <ion-row >
          <ion-col size-xs="6" size-md="6" *ngFor="let c of courses" (click)="gotoCourseDetails(c)" >
            <ion-card style="width:100%; display:flex; flex-direction: column; align-items: center; background-color: white; border-radius: 15px;">
              <img src={{c.icon}} style="width: 75%; margin-top: 5px;" />
              <span style="font-family: 'Manrope-Bold'; font-size: 15px; font-weight :bolder; margin-top: 10px; margin-bottom: 10px; color: var(--ion-color-secondary)">
                {{c.name}}
              </span>
            </ion-card>  
          </ion-col>
        </ion-row>
      </ion-grid>
   
  </div>
 
</ion-content>
